#banner-container {
  /* background: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/Party-large.jpg'); */
  /* background-position: center;
  max-width: 1400px; */
  height: 280px; /*
  margin-top: 6em;
  color: white; */
}
.banner-text {
  /* width: 100%; */
  height: 280px;
  /* position: relat/ive; */
}
.feature-pic {
    width: 100%;
    height: auto;
    max-width: 720px;
}
