body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  width: 100%;
}
a { 
  text-decoration: none;
}
nav > div {
  width: auto;
  padding: 1em;
}
#navbar,
#footer {
  width: 100%; 
  min-height: 3em;
}
#navbar {
  position: fixed;
  z-index: 999;
  margin: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  background: white;
}
.active {
  font-weight: bold;
}
.dropbtn {
  font-size: 18px;
  font-family: inherit;
  color: black;
  background-color: inherit;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  font-size: 18px;
  display: none;
  position: absolute;
  left: -10px;
  background-color: white;
  min-width: 200px;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  display: block;
}
.dropdown-content a:hover, 
.dropdown-content a:focus {
  text-decoration: underline;
}
.dropdown:hover .dropdown-content, 
.dropdown:focus .dropdown-content {
  display: block;
}
.navlink-container {
  max-width: 1000px;
  padding-right: 1em;
}
.navlink {
  margin: 10px;
  font-size: 18px;
}
#quick-contact {
  text-align: right;
}
#quick-contact a {
  color: rgb(17, 110, 187);
}
#footer {
  background: black;
  color: white;
}
#footer > div {
  max-width: 900px;
  padding: 1em;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  flex-wrap: wrap;
}
.footer-container > div {
  max-width: 360px;
}
#footer a {
  color: white;
}
#banner-container {
  background: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/projector-extra-large.webp');
  background-position: center;
  max-width: 1400px;
  height: 360px;
  margin-top: 6em;
  color: white;
 }
.banner-text {
  width: 100%;
  height: 120px;
  position: relative;
}
.banner-text h1, .banner-text h2 {
  font-weight: 400;
  margin: 0;
}

.banner-text h1 {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 100%;
  font-size: 48px;
}
.banner-text h2 {
  width: 80%;
  padding: 1em;
  font-size: large;
}

.banner-text:nth-child(3) h2 {
  text-align: right;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.fancy-font {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  text-shadow: 3px 3px black;
}
.title-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.banner-text a {
  color: white;
}
.boldfont {
  font-weight: 600;
}
.centered-text {
  text-align: center;
}
.centered-block {
  display: block;
  margin: 0 auto;
}
#what-we-do p, #coming-soon p {
  padding: 1em;
  max-width: 400px; 
  text-align: justify;
}
hr {
  width: 50px; 
  color: 15, 96, 163;
}
hr.mobile-only {
  margin-bottom: 3em;
}
.feature-container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.feature-container:last-child {
  padding: 0;
}  
.feature-text {
  padding: 1em;
  text-align: justify;
}
.feature-text {
  width: 540px;
  padding: 1em 2em;
}
.feature-pic {
  width: 100%;
  height: auto;
  max-width: 540px;
}
.feature-text button {
  background: rgb(17, 110, 187);
  color: white;
  border: none; 
  border-radius: 2px;
  font-family: 'Rubik', sans-serif;
  font-size:medium;
  padding: 1em;
  display: block;
  margin: 2em auto;
}
 button {
  cursor: pointer;
}
#wide-banner {
  background: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/wide-caravan.webp');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  width:100%;
  min-height: 400px;
}
.byline {
  text-align: center;
  font-size: small;
  padding-top: 3em;
}
.main-block {
  margin: 50px auto;
}
#home-title {
  display: none;
}
.prev, .next {
  display: none;
}

@media screen and (min-width: 750px) {
  nav > div {
    width: 245px;
    padding: 1em;
  }
  #home-title {
    display: block;
  }
  .feature-container {
    justify-content: space-around;
    margin: 75px auto;
    min-height: 328px;
  }
  .feature-text {
    width: 270px;
  }
  .feature-pic {
    max-width: 480px;
    padding: 0.75em;
  }
  .two-pics {
    max-width: 375px;
  }
  #banner-container {
    height: 375px;
  }
  .banner-text h2 {
    width: 50%;
  }
  .banner-text {
    height: 125px;
  }
  #wide-banner {
    min-height: 375px;
  }
  .main-block {
    margin: 75px auto;
  }
  .mobile-only {
    display: none;
  }
  * {box-sizing:border-box}
  .slider-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
  }
  .slide {
    display: none;
  }
  .prev, .next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(17, 110, 187);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.1);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }  
  .active.dot, .dot:hover {
    background-color: rgb(17, 110, 187);
  }  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}

@media screen and (min-width: 960px) {
  .feature-container {
    margin: 100px auto;
    min-height: 368px;
  }
  .feature-text {
    width: 400px;
  }
  .feature-pic {
    max-width: 540px;
  }
  .two-pics {
    max-width: 480px;
  }
  #banner-container {
    height: 480px;
  }
  .banner-text {
    height: 160px;
  }
  .banner-text h1 {
    font-size: 64px;
  }
  #wide-banner {
    min-height: 480px;
  }
  .main-block {
    margin: 100px auto;
  }
  #what-we-do {
    margin: -50px auto;
  }
}

@media screen and (min-width: 1200px) {
  #banner-container {
    height: 600px;
  }
  .banner-text {
    height: 200px;
  }
  .banner-text h1 {
    font-size: 64px;
  }
  #wide-banner {
    min-height: 600px;
  }

  .main-block {
    margin: 120px auto;
  }
}

@media screen and (max-width: 370px) {
  nav > div {
    padding: 0.25em;
  }
  #banner-container {
    margin-top: 4em;
  }
  .feature-pic {
    padding: 1em 0;
  }
}

@media screen and (max-width: 480px){
  i { 
    font-size: 24px;
    padding: 3px;
  }
}