body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  width: 100%;
}

nav > div {
  width: auto;
  padding: 1em;
}
#navbar,
#footer {
  width: 100%; 
  min-height: 3em;
}
#navbar {
  position: fixed;
  z-index: 999;
  margin: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  background: white;
}
.active {
  font-weight: bold;
}
.dropbtn {
  font-size: 18px;
  font-family: inherit;
  color: black;
  background-color: inherit;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-size: 18px;
  display: none;
  position: absolute;
  left: -10px;
  background-color: white;
  min-width: 200px;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover, 
.dropdown-content a:focus {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content, 
.dropdown:focus .dropdown-content {
  display: block;
}
.navlink-container {
  max-width: 1000px;
  padding-right: 1em;
}
.navlink {

  margin: 10px;
  font-size: 18px;
}

#quick-contact {

  text-align: right;
}

#quick-contact a {
  color: rgb(17, 110, 187);
  text-decoration: none;
}

#footer {
  background: black;
  color: white;
}
#footer > div {
  max-width: 900px;
  padding: 1em;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  flex-wrap: wrap;
}
.footer-container > div {
  max-width: 360px;
}

#footer a {
  color: white;
  text-decoration: none;
}

#banner-container {
  background: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/projector-extra-large.webp');
  background-position: center;
  max-width: 1400px;
  height: 360px;
  margin-top: 6em;
  color: white;
 }
.banner-text {
  width: 100%;
  height: 120px;
  position: relative;
}
.banner-text h1, .banner-text h2 {
  font-weight: 400;
  margin: 0;
}

.banner-text h2 {
  width: 50%;
  padding: 1em;
  font-size: large;
}

.banner-text:nth-child(2) {
  text-shadow: 3px 3px black;
  font-size: larger;
  padding: 0;
  width: 100%;
}

.banner-text:nth-child(2) h1 {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text:nth-child(3) h2 {
  text-align: right;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.title-text {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.banner-text a {
  color: white;
}
.boldfont {
  font-weight: 600;
}
.centered-text {
  text-align: center;
}
.centered-block {
  display: block;
  margin: 0 auto;
}

#banner-container img {
  width: 100%;
}

#what-we-do p {
  padding: 1em;
}

hr {
  width: 50px; 
  color: 15, 96, 163;
}
.feature-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.feature-container:last-child {
  padding: 0;
}  
.feature-text {
  padding: 1em;
}

.feature-container:nth-child(2n+1) {
  flex-wrap: wrap-reverse;
}
.feature-container:nth-child(2n) {
  flex-wrap: wrap;
}

.feature-text {
  width: 540px;
  padding: 1em 2em;
}
.feature-pic {
  width: 100%;
  height: auto;
  max-width: 540px;
  padding: 1em;
}
.feature-text button {
  background: rgb(17, 110, 187);
  color: white;
  border: none; 
  border-radius: 2px;
  font-family: 'Rubik', sans-serif;
  font-size:medium;
  padding: 1em;
  display: block;
  margin: 2em auto;
}
#wide-banner {
  background: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/wide-caravan.webp');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  width:100%;
  min-height: 400px;
}
.byline {
  text-align: center;
  font-size: small;
  padding-top: 3em;
}
.main-block {
  margin: 50px auto;
}
#home-title {
  display: none;
}



@media screen and (min-width: 750px) {
  nav > div {
    width: 210px;
    padding: 1em;
  }
  #home-title {
    display: block;
  }
  .feature-container {
    justify-content: space-around;
  }
  .feature-text {
    width: 280px;
  }
  .feature-pic {
    max-width: 360px;
  }
  #banner-container {
    height: 375px;
  }
  .banner-text {
    height: 125px;
  }
  .banner-text:nth-child(2) {
    font-size: 36px;
  }
  #wide-banner {
    min-height: 375px;
  }
  #footer hr {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .feature-text {
    width: 360px;
  }
  .feature-pic {
    max-width: 480px;
  }
  #banner-container {
    height: 480px;
  }
  .banner-text {
    height: 160px;
  }
  .banner-text:nth-child(2) {
    font-size: 48px;
  }
  #wide-banner {
    min-height: 480px;
  }
}
@media screen and (min-width: 1200px) {
  #banner-container {
    height: 600px;
  }
  .banner-text {
    height: 200px;
  }
  .banner-text:nth-child(2) {
    font-size: 64px;
  }
  #wide-banner {
    min-height: 600px;
  }
}

@media screen and (max-width: 370px) {
  nav > div {
    padding: 0.25em;
  }
  #banner-container {
    margin-top: 4em;
  }
  .feature-pic {
    padding: 1em 0;
  }
}
@media screen and (max-width: 480px){
  i { 
    font-size: 24px;
  }
}